/* --- Colors --- */

/* backgrounds */
$page-bkg-color: rgb(0,0,0);

/* text */
$regular-text-color: rgb(255,255,255);
$link-text-color: rgb(255,255,255);

/* accents */
$highlight-color: rgb(255,255,255);

/* --- Fonts --- */
@font-face {
	font-family: 'Lacrima Serif';
	src: url('/fonts/LacrimaSerif-Normal.otf');
}

$base-font-family: 'Lacrima Serif';

/* --- Transitions --- */
$slow: .3s;

/* --- Base --- */
html {
	height: 880px;
	margin-top: 20px; //viewport
	// border-top: solid 100px #333;
	// border-bottom: solid 100px #333;

	font-size: 62.5%; /* maps '1rem' to '10px' */
	position: relative;

	background-color: $page-bkg-color;
}

body,
main,
.screen {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: $regular-text-color;

	font-family: $base-font-family;
	letter-spacing: -0.02rem;
	font-smoothing: antialiased;
	-moz-font-smooth: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-drag: none;

	-webkit-overflow-scrolling: auto !important;
}

.screen {
	display: none;
	position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* --- Reset --- */
h1, h2, h3, p,
ul, li {
	margin: 0;
	padding: 0;
}

ul, li,  {
	list-style: none;
}

a {
	display: block;
	color: $link-text-color;
	text-decoration: none;
}

label {
	display: block;
}

/* --- Mixins --- */
@mixin background-image($mode) {
	background-position: center;
	background-repeat: no-repeat;
	background-size: $mode;
}
